* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

.body {
  transition: background-image 0.5s linear;
  width: 100%;
  min-height: 100vh;
  background-image: url(../media/image-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.body::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(180deg, rgba(255, 239, 197, 0.62) 0%, rgba(255, 208, 138, 0.65) 43.13%, rgba(224, 102, 64, 0.6) 84.49%, rgba(179, 65, 1, 0.63) 107.12%);
}
.body__night::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(180deg, rgba(255, 197, 197, 0.62) 0%, rgba(255, 138, 180, 0.61) 39.13%, rgba(184, 53, 205, 0.65) 75.88%, rgba(48, 8, 72, 0.57) 100%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 15px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__clock {
  color: #F6EEFF;
  text-shadow: 1px 0 1px #848484, 0 1px 1px #848484, -1px 0 1px #848484, 0 -1px 1px #848484, 0px 4px 4px #2F144F;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}
.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #848484;
  background-color: rgba(246, 238, 255, 0.65);
  transition: 0.3s linear;
  cursor: pointer;
  padding: 6px 17.5px;
  border-radius: 35px;
}
.header__btn:hover {
  background-color: rgba(224, 196, 255, 0.65);
}
.header__btn:active {
  background-color: rgba(246, 238, 255, 0.65);
}
.header__btn:disabled {
  background-color: #FFFFFF;
  cursor: default;
}
.header__img {
  width: 28px;
  height: 36px;
  pointer-events: none;
}

.search {
  width: 55%;
  display: flex;
  border-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}
.search__input {
  width: calc(100% - 65px);
  border: 1px solid #848484;
  border-radius: 35px 0 0 35px;
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 0.65);
  color: #510F4E;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  transition: 0.3s linear;
}
.search__input:hover {
  border: 1px solid #510F4E;
}
.search__input:focus {
  outline: none;
  border: 1px solid #510F4E;
  background-color: #FFFFFF;
}
.search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #848484;
  background-color: rgba(246, 238, 255, 0.65);
  transition: 0.3s linear;
  cursor: pointer;
  padding: 6px 13.5px;
  border-radius: 0 35px 35px 0;
  border-left: none;
}
.search__btn:hover {
  background-color: rgba(224, 196, 255, 0.65);
}
.search__btn:active {
  background-color: rgba(246, 238, 255, 0.65);
}
.search__btn:disabled {
  background-color: #FFFFFF;
  cursor: default;
}
.search__img {
  width: 36px;
  height: 36px;
  pointer-events: none;
}

.location {
  color: #F6EEFF;
  text-shadow: 1px 0 1px #848484, 0 1px 1px #848484, -1px 0 1px #848484, 0 -1px 1px #848484, 0px 4px 4px #2F144F;
  font-weight: 800;
  font-size: 62px;
  line-height: 76px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.weather {
  display: grid;
  grid-template-columns: 55% 43%;
  justify-content: space-between;
}

.today {
  background-color: rgba(246, 238, 255, 0.65);
  border: 1px solid #848484;
  border-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px 30px;
}
.today__title {
  color: #510F4E;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}
.today__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.today__temperature {
  color: #FFFFFF;
  text-shadow: 1px 0 1px #848484, 0 1px 1px #848484, -1px 0 1px #848484, 0 -1px 1px #848484, 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 128px;
  line-height: 156px;
  margin-bottom: 8px;
}
.today__discription {
  color: #510F4E;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.today__pic {
  width: 200px;
  height: 240px;
}
.today__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.today__info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.today__icon {
  width: 45px;
  height: 45px;
  margin: 0 auto 3px;
}
.today__thumb {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.today__value {
  color: #510F4E;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.nextdays {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.nextdays__day {
  background-color: rgba(246, 238, 255, 0.65);
  border: 1px solid #848484;
  border-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px 0 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.nextdays__title {
  color: #510F4E;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}
.nextdays__temperature {
  color: #FFFFFF;
  text-shadow: 1px 0 1px #848484, 0 1px 1px #848484, -1px 0 1px #848484, 0 -1px 1px #848484, 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
}
.nextdays__pic {
  width: 100px;
  height: 120px;
}
.nextdays__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer {
  padding: 20px 0;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__github {
  text-decoration: none;
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.footer__pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #F6EEFF;
  overflow: hidden;
}
.footer__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__name {
  color: #F6EEFF;
  text-shadow: 1px 0 1px #848484, 0 1px 1px #848484, -1px 0 1px #848484, 0 -1px 1px #848484, 0px 4px 4px #2F144F;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 10px;
}
.footer__position {
  color: #F6EEFF;
  text-shadow: 1px 0 1px #848484, 0 1px 1px #848484, -1px 0 1px #848484, 0 -1px 1px #848484, 0px 4px 4px #2F144F;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.footer__twitter {
  display: none;
  width: 50px;
  height: 50px;
}
.footer__twitter_ok {
  display: block;
}
.footer__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

@media (max-width: 1024px) {
  .header {
    padding: 30px 0;
  }
  .header__clock {
    font-size: 36px;
    line-height: 44px;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .header__btn {
    padding: 1px 15px;
    border-radius: 20px;
  }
  .header__img {
    transform: scale(0.7);
  }
  .search {
    border-radius: 20px;
    margin-bottom: 15px;
  }
  .search__input {
    width: calc(100% - 60px);
    border-radius: 20px 0 0 20px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 20px;
  }
  .search__btn {
    padding: 1px 11.5px;
    border-radius: 0 20px 20px 0;
  }
  .search__img {
    transform: scale(0.7);
  }
  .location {
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 15px;
  }
  .today {
    border-radius: 30px;
    padding: 10px 15px;
  }
  .today__title {
    font-size: 36px;
    line-height: 44px;
  }
  .today__temperature {
    font-size: 96px;
    line-height: 117px;
    margin-bottom: 3px;
  }
  .today__discription {
    font-size: 20px;
    line-height: 24px;
  }
  .today__pic {
    width: 160px;
    height: 192px;
  }
  .today__icon {
    width: 38px;
    height: 38px;
  }
  .today__value {
    font-size: 20px;
    line-height: 24px;
  }
  .nextdays {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .nextdays__day {
    border-radius: 30px;
    padding: 20px 0 35px;
  }
  .nextdays__title {
    font-size: 20px;
    line-height: 24px;
  }
  .nextdays__temperature {
    font-size: 48px;
    line-height: 59px;
  }
  .nextdays__pic {
    width: 80px;
    height: 96px;
  }
  .footer {
    padding: 40px 0;
  }
  .footer__pic {
    width: 60px;
    height: 60px;
  }
  .footer__name {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
  }
  .footer__position {
    font-size: 18px;
    line-height: 22px;
  }
  .footer__twitter {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 10px 0;
  }
  .header__clock {
    font-size: 22px;
    line-height: 27px;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .search {
    width: 100%;
    margin-bottom: 10px;
  }
  .search__input {
    font-size: 16px;
    line-height: 20px;
  }
  .location {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 15px;
  }
  .weather {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .today {
    border-radius: 20px;
    padding: 5px 10px;
  }
  .today__title {
    font-size: 24px;
    line-height: 29px;
  }
  .today__temperature {
    font-size: 64px;
    line-height: 78px;
  }
  .today__discription {
    font-size: 16px;
    line-height: 20px;
  }
  .today__pic {
    width: 90px;
    height: 108px;
  }
  .today__icon {
    width: 30px;
    height: 30px;
  }
  .today__value {
    font-size: 16px;
    line-height: 20px;
  }
  .nextdays {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
  .nextdays__day {
    border-radius: 20px;
    padding: 10px 0;
  }
  .nextdays__title {
    font-size: 16px;
    line-height: 20px;
  }
  .nextdays__temperature {
    font-size: 36px;
    line-height: 44px;
  }
  .nextdays__pic {
    width: 60px;
    height: 72px;
  }
  .footer {
    padding: 15px 0;
  }
  .footer__container {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .footer__pic {
    width: 40px;
    height: 40px;
  }
  .footer__name {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .footer__position {
    font-size: 15px;
    line-height: 18px;
  }
  .footer__twitter {
    width: 30px;
    height: 30px;
  }
}/*# sourceMappingURL=style.css.map */